{% extends 'layout_2.html' %}
{% load static %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<style>
  p{
    font-size: 25px;
  }
  .h2{
    font-size: 45px;
    color: #333;
  }
  .Between{
    text-align: center;
  }
</style>
  <div class="container-fluid">
    <div class="card">
        <img class="card-img-top" src="/static/Petanque_cover.png" alt="Card image">
        <div class="card-img-overlay">
            <div class="row mt-5">
                <div class="col-sm-12v text-center">
                    <h1 class="display-4 text-white">
                        <dt>ยินดีต้อนรับสู่เว็บไวต์จองสนามเปตองออนไลน์</dt>
                    </h1>
                    <h6 class="text-white">เว็บไซต์เพื่อจองสนามเปตองออนไลน์</h6>
                    <a type="button" class="btn btn-danger shadow  mt-5" href="{% url 'booking' %}">จองสนามออนไลน์</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<div class="container-fluid mt-5"><!--ข่าวล่าสุด-->
  <div class="d-flex justify-content-center">
    <h1>News</h1>
  </div>
  <div class="container-fluid mt-5 bg-light">
    <div class="row">
        <div class="col-sm-6 mt-5 mb-5" >
            <div class="d-flex justify-content-center">
                <img src="/static/news4.jpg" class="img-thumbnail display: block; max-width: 100%; and height: auto;" alt="Cinque Terre">
              </div>
        </div>
        <div class="col-sm-6 mt-5">
            <dt class="h2">สรุปผลการแข่งขัน‼️ </dt>
            <p>
              ทีมนักกีฬาเปตอง มหาวิทยาลัยขอนแก่น 🎉
              <br>ในการเข้าร่วมการแข่งขันกีฬามหาวิทยาลัยแห่งประเทศไทย ครั้งที่ 50
              <br>รอบคัดเลือกภาคตะวันออกเฉียงเหนือ
            </p>
            <a href="https://www.facebook.com/share/p/38b3RK43CoUnbEk8/" class="btn btn-danger">อ่านเพิ่มเติม</a>
        </div>
    </div>
  </div>
<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<p class = "Between" >______________________________________________________________________________________</p>
<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<div class="container-fluid mt-5 bg-light"> 
    <div class="row">
        <div class="col-sm-6 mt-5 mb-5" >
            <div class="d-flex justify-content-center">
                <img src="/static/news3.jpg" class="img-thumbnail display: block; max-width: 100%; and height: auto;" alt="Cinque Terre">
              </div>
        </div>
        <div class="col-sm-6 mt-5">
            <dt class="h2">🏐 "เกษียณเกษมศานต์ 2567"🏐</dt>
            <p>
              ชมรมเปตองบุคลากรมหาวิทยาลัยขอนแก่น
              <br>ขอเชิญร่วมแสดงมุทิตาจิต แด่ผู้เกษียณอายุราชการ
              <br>
              <br>_________________________________
              <br>🧡 คุณปฏิภานนท์ ภูมิสวาสดิ์
              <br>🧡 คุณสำรวญ สูงนารถ
              <br>      
            </p>
            <a href="https://www.facebook.com/share/p/38b3RK43CoUnbEk8/" class="btn btn-danger">อ่านเพิ่มเติม</a>
        </div>
    </div>
  </div>
<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<p class = "Between" >______________________________________________________________________________________</p>
<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------->
  <div class="container-fluid mt-5 bg-light">
    <div class="row">
        <div class="col-sm-6 mt-5 mb-5" >
            <div class="d-flex justify-content-center">
                <img src="/static/news1.jpg" class="img-thumbnail display: block; max-width: 100%; and height: auto;" alt="Cinque Terre">
              </div>
        </div>
        <div class="col-sm-6 mt-5">
            <dt class="h2">สรุปผลการแข่งขัน‼️ </dt>
            <p>
              กีฬาเปตองเฟรชชี่ระหว่างคณะ ประจำปี 2567 
              Pétanque Freshy Games 2024
              ระหว่างวันที่ 25-27 สิงหาคม 2567
            </p>
            <a href="https://www.facebook.com/share/p/d5qgrsM4qd4eMCRF/" class="btn btn-danger">อ่านเพิ่มเติม</a>
        </div>
    </div>
<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<p class = "Between" >______________________________________________________________________________________</p>
<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <div class="container-fluid mt-5 bg-light">
      <div class="row">
          <div class="col-sm-6 mt-5 mb-5" >
              <div class="d-flex justify-content-center">
                  <img src="/static/news2.jpeg" class="img-thumbnail display: block; max-width: 100%; and height: auto;" alt="Cinque Terre">
                </div>
          </div>
          <div class="col-sm-6 mt-5">
              <dt class="h2">ประมวลภาพการแข่งขันเพื่อคัดเลือกกีฬามหาวิทยาลัยขอนแก่น </dt>
              <p>
                เพื่อเข้าร่วมการแข่งขันกีฬามหาวิทยาลัยแห่งประเทศไทย ครั้งที่ 50 ”ธรรมศาสตร์เกมส์”
                ดำเนินการโดย 
                กองการกีฬา มหาวิทยาลัยขอนแก่น
                ชมรมกีฬาเปตองและเจ้าหน้าที่ทีมกีฬา
                "วินัย คือ หัวใจของนักกีฬา"
                "ขอขอบคุณทุกๆ คนที่มีส่วนร่วมในครั้งนี้"
              </p>
              <a href="https://www.facebook.com/share/p/QoG46RUYQG6qdu8W/" class="btn btn-danger">อ่านเพิ่มเติม</a>
          </div>
      </div>
      
</div>
</div>


{% endblock %}